@model DOT_NET_Examenproject.Models.Bedrijf

@{
    ViewData["Title"] = "Aanpassen";
}

<h1>Aanpassen</h1>

<h4>Bedrijf</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BedrijfId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NrTva" class="control-label"></label>
                <input asp-for="NrTva" class="form-control" />
                <span asp-validation-for="NrTva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adres" class="control-label"></label>
                <input asp-for="Adres" class="form-control" />
                <span asp-validation-for="Adres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NrTel" class="control-label"></label>
                <input asp-for="NrTel" class="form-control" />
                <span asp-validation-for="NrTel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Pas aan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar overzicht van bedrijven</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
